@inherits LayoutComponentBase

<PageTitle>BlazorWeb_server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay></LoginDisplay>
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="errorBoundary">
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}