@inherits LayoutComponentBase

<NavMenu />
<div class="main">
    <ErrorBoundary @ref="errorBoundary">
        @Body
    </ErrorBoundary>
</div>
@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}